@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    margin:  0;
    padding: 0;
}
body{
    font-family: 'DM Sans', sans-serif;
    background-color: #B6B5FF;
}
main{
    display: flex;
    flex-direction:  column;
    justify-content: center;
    min-height: calc(100vh - 50px);
    text-align: center;
}
main h2{
    color: #322D2D;
}
.box{
    margin: 2rem;
    display: flex;
    padding: 2rem 1rem;
    border-radius: 10px;
    justify-content: center;
    background-color: #F7F7F7;
}
.box .item{
    width: 30%;
}
.box .item h4{
    color: #322D2D;
}
.box .item:nth-child(2){
    border-left:  1px solid #646464;
    border-right: 1px solid #646464;
}

footer{
    padding: 0;
    height: 50px;
    display: flex;
    color: #322D2D;
    align-items: center;
    justify-content: center;
    background-color: rgba(237, 237, 237, .5);
}
footer a{
    text-decoration: none;
}
footer a span{
    color: #1EA0FF;
    margin-left: .5rem;
}


@media only screen and (max-width: 700px){
    .box{
        align-items: center;
        flex-direction: column;
    }
    .box .item{
        width: 100%;
        margin: 1rem 0;
    }
    .box .item:nth-child(2){
        border: none;
    }  
}